
@{
    ViewData["Title"] = "Acesso não permitido";
}

<div class="row">
    <div class="col-md-12">
        <h2>Falha na autenticação</h2>
        <p class="text-warning">
            Sua entrada não obteve sucesso.<br />
            Verifique se inseriu o e-mail e sua senha corretamente e tente uma nova autenticação.
        </p>
        <br />
        <a asp-action="Login" class="btn btn-danger" role="button">Entendi</a>
    </div>
</div>