
@{
    ViewData["Title"] = "Efetivação cadastro de estacionamento";
    Layout = "~/Views/Shared/_LayoutEmpresa.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <h2>Cadastro realizado com sucesso</h2>
        <br />
        <p class="text-justify">O estacionamento @ViewBag.NomeEstacionamentoCriado, foi cadastrado com sucesso no sistema!</p>
        <br />
        <a asp-action="GerenciarEstacionamento" class="btn btn-primary" role="button">OK</a>
    </div>

</div>