
@{
    ViewData["Title"] = "Efetivação cadastro de estacionamento";
    Layout = "~/Views/Shared/_LayoutEmpresa.cshtml";
}

<div class="text-center">
    <div class="col-md-12">
        <h2>Cadastro realizado com sucesso</h2>
        <br />
        <p>O estacionamento <strong>@ViewBag.NomeEstacionamentoCriado</strong>, foi cadastrado com sucesso no sistema!</p>
        <br />
        <a asp-action="GerenciarEstacionamento" class="btn btn-primary" role="button">OK</a>
    </div>

</div>