
@{
    ViewData["Title"] = "Remoção de estacionamento do sistema";
    Layout = "~/Views/Shared/_LayoutEmpresa.cshtml";
}


<div class="row">
    <div class="col-md12">
        <h2>Estacionamento removido com sucesso</h2>
        <p class="text-justify">O estacionamento selecionado, foi removido com sucesso do sistema.</p>
        <br />
        <a asp-action="GerenciarEstacionamento" role="button" class="btn btn-primary">OK</a>

    </div>
</div>