
@{
    ViewData["Title"] = "Remoção de estacionamento";
    Layout = "~/Views/Shared/_LayoutEmpresa.cshtml";
}


<div class="row">
    <div class="col-md-12">
        <h2>Estacionamento removido com sucesso</h2>
        <p class="text-justify">O estacionamento selecionado foi alterado com sucesso!</p>
        <br />
        <a asp-action="GerenciarEstacionamento" class="btn btn-primary" role="button">OK</a>
    </div>

</div>