
@{
    ViewData["Title"] = "Home principal Prestador de serviços";
    Layout = "~/Views/Shared/_LayoutPrestadorServico.cshtml";
}


<div class="row">
    <div class="col-md-12">
        <h2>Bem-vindo (A) a área do administrador</h2>
        <p class="text-justify">
            O Easy Park permite que você Prestador de Serviço, tenha um espaço totalmente simples e objetivo para gerenciar e ofertar seus produtos.<br />
            Expanda o menu para mais opções.
        </p>
    </div>
</div>