
@{
    ViewData["Title"] = "Remover Serviço";
    Layout = "~/Views/Shared/_LayoutPrestadorServico.cshtml";
}

<div class="text-center">
    <div class="col-md-12">
        <h2>Remoção de serviço do sistema</h2>
        <p>O serviço selecionado foi removido com sucesso do sistema.</p>
        <a asp-action="GerenciarServico" role="button" class="btn btn-primary">OK</a>
    </div>
</div>