/* Esta parte do CSS é o cabeçalho*/

ul.nav{
  background-color: green;

}

ul.nav >li{
  display: inline-flex;
  background-color: black;
}

/* Esta parte do CSS é o cabeçalho para dividir a lista horizontal*/
u2.nav> li{
  display: inline-flex;
  background-color: blue;
  padding:10px 30px;

}

u3.nav> ol{
  display: inline-flex;
  background-color: blue;
  padding:0px 0px;

}
footer {
  display: inline-flex;
  color: white;
  width: 100%;
  height: 50px;
  border: 2px solid black;
  background-color:rgb(216, 216, 216)
}

footer a {
  margin: auto;
}