@model Easypark.Models.Cliente

@{
    ViewData["Title"] = "Relatorio";
}

<h2>Cliente: @Model.nome</h2>

<div>
    <h4>Dados</h4>
    <hr />
    <table class="table">
        <thead>
            <tr>
                <th>
                    Tipo de Vaga
                </th>
                <th>
                    Ocupado
                </th>                
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Vagas)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.tipoVaga)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.preenchido)
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.cliente_id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
